.it {
  padding: 0.3rem 0;
  box-shadow: 1px 1px 3px 2px rgb(184, 189, 187);

  display: flex;
}

.arrow-icon {
  padding: 0.1rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.arrow-icon:hover {
  background: #97a1f9;
}
