.layout {
  background: aliceblue;
}

/* main */
.sidebar-children {
  position: relative;
  top: 0px;
  left: 15%;
  width: 85%;
  height: 100vh;

  padding: 0.3rem;
  background-color: rgba(237, 240, 238, 0.989);
  transition: 0.4s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  background-color: rgb(209, 197, 212);
}

.sidebarTop {
  width: 100%;
  background-color: rgb(161, 160, 160);
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
