

.layout{
  display:flex;
  /* width:700px; */
background:aliceblue;
  /* background-color: cornflowerblue; */
}

/* main */
.sidebar-children{          
  position:relative;
  /* margin-top:-9.8%; */
  top:0px;
  left:15%;
width:85%;
height:100vh;
/* height:100%; */

padding:0.3rem;
background-color: rgba(237, 240, 238, 0.989);
transition: 0.4s ease-in-out;

}

.sidebar{
  position:fixed;
  top:0;
  left:0;
  /* width:15%; */
  height:100vh;

  background-color: rgb(209, 197, 212);
  /* color:rgb(199, 70, 177); */
}

.sidebarTop{
  width:100%;
  /* padding:1rem; */
  /* background-color: rgb(100, 97, 97); */
  background-color: rgb(161, 160, 160);
  padding:0.3rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  

}


