.forgotPassword-container {
  width: 40%;
  margin-inline: auto;
  background-color: rgba(229, 224, 253, 0);
  padding: 1rem;
}

.forgotPassword-icon-text > h2 {
  width: 100%;
}
h2 {
  text-align: center;
}
.forgotPassword-icon-text > h2 {
  text-align: center;
}

.forgotPassword-icon {
  text-align: center;
}

.forgotPassword-form > input,
button {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
  padding: 0.4rem;
}

.forgotPassword-form > input {
  background-color: rgba(255, 255, 255, 0.896);
  border-color: rgba(247, 247, 247, 0);
  box-shadow: 0px 3px 0px rgba(187, 189, 189, 0.831);
}

.forgotPassword-form > button {
  background-color: rgba(225, 233, 235, 0.312);
  color: rgb(0, 0, 0);
  border-color: rgba(247, 247, 247, 0);
  font-size: 1.05rem;
  font-weight: bold;
  line-height: 1;
  color: blue;
}

.forgotPassword-redirect-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.redirect-home {
  text-decoration: none;
}
